@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.fa-edit {
  color: rgb(251, 201, 63);
  padding: 0 3vw;
  font-weight: 200;
}
.fa-trash {
  color: #f52630;
}

.title_text {
  color: rgb(0, 0, 0);
  font-size: 32px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-weight: 800;
}
.footer_text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 5vh;
  /* margin-bottom: 5vh; */
  font-weight: 500;
}
.totalItemList li {
  font-size: 1.5vw;
}
.btn-success {
  border: none;
  outline: none;
  font-size: 14px;
  color: #fff;
}
button {
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #fff;
}

#input_id {
  border: none;
  outline: none;
  border-bottom: 1.5px solid #66bb6a;
}
input#input_id {
  margin-right: 1.5vw;
}

#saveTask {
  display: none;
}

#zeroSpaceAlert {
  margin-left: 5vw;
}

#cancelUpdate {
  margin-left: 2vw;
  display: none;
}
